# API & Socket Backend Endpoints
VITE_API_URL="http://localhost:5000/api/v1"
VITE_SOCKET_URL="http://localhost:5000"

# Stripe Public Key
VITE_STRIPE_PUBLIC_KEY="pk_test_mock_public_key"

# Map Provider Configuration (Default: OpenStreetMap via Backend)
VITE_MAP_PROVIDER="OPEN_STREET_MAP"
VITE_GOOGLE_MAPS_PUBLIC_API_KEY=""
